@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


:root {
  --app-bg: #ffffff;
  --app-text: #111827;
}
.dark {
  --app-bg: #0b1220;
  --app-text: #e6eef8;
}

body {
  background: var(--app-bg);
  color: var(--app-text);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
